.SparnturalQuerySummaryComponent {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        line-height: 20px;

        li {
            margin: 0;
            padding: 2px 0;
            .logic {
                display: inline-block;
                padding: 0 5px;
                border: 1px solid var( --primary-color-main);
                color: var(--default-text-color) ;
                border-radius: 3px;
                margin-right: 1px;
                &.where {
                    margin-right: 0;
                }
            }
            svg {
                display: inline-block;
                height: 16px;
                width: 16px;
                margin-left: 2px;
            }
            strong {
                font-weight: normal;
                color: var(--primary-color-main);
            }
            .startOption {
                margin-left: 5px;
                padding-right: 2px;
                color: var(--secondary-color-important);
            }
            &>.line {
                &>.sumSujet {
                    display: inline-block;
                    padding-right: 2px;
                }
                &>.sumObjet {
                    display: inline-block;
                    padding-left: 2px;
                    padding-right: 3px;
                }
            }
            .selectedValues {
                color: var(--silver-color-main) ;
                display: inline;
                padding-left: 3px;
                &>span {
                    display: inline-block;
                    padding: 0;
                    /*border: 1px solid var( --silver-color-main);
                    border-radius: 3px;*/
                    font-style: italic;
                    margin-right: 3px;
                    svg {
                        stroke-width: 1px;
                        stroke: var( --default-text-color);
                    }
                }

            }

            ul {
                padding-left: 5px;
                margin-top: 2px;
                margin-bottom: -2px;
                margin-left: 5px;
                border-left: 1px solid var(--silver-color-main);
            }
        }
    }
}


