.summary-container {
  display: flex;
  align-items: center;
  gap: 8px;
}
.summary-natural {
  display: block;
  width: 100%;

  max-height: 250px; // limite la hauteur max visible
  overflow-y: auto; // scroll vertical si nécessaire

  border: none;
  outline: none; // enlève le contour bleu par défaut

  padding: 6px 8px;
  font-family: inherit;
  font-size: 1rem;

  border-radius: 4px;

  // Bordure uniquement au focus avec couleur personnalisée
  &:focus {
    border: 1px solid rgb(218, 141, 0);
    border-radius: 4px;
  }
}

.generate-summary-btn {
  background: #cc9b157e;
  color: white;
  border: none;
  border-radius: 4px;

  cursor: pointer;
  transition: background 0.3s ease;
}

.generate-summary-btn:hover {
  background: #cc9b15;
}

.generate-summary-btn i {
  font-size: 16px;
}
